<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/index.css">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{pageTitle}}</h1>
    <h2>Formularz</h2>
    <h3>{{title2}}</h3>
    <h4>{{subsubTitle}}</h4>
    <form action="">
        
        <input type="text"  id="imie"><br>
        <button id="submit">dodaj</button>
        
    </form> 

    <div id="output"></div>
    <a href="./about">About</a>

    <script src="./../js/func.js"></script>
</body>
</html>